@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap');

body{
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

 @media (max-width: 948px) {
  body {
    overflow-x: hidden !important;
    width: 100%;
  }
} 

/* CSS for Navbar */

.Navbar{
  height: 54px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.companyLogo{
  height: 22px;
  margin-left: 16%;
  cursor: pointer;
}

.links{
  position: absolute; 
  right: 15%;
  font-weight: bold;
  font-size: x-small;
}

.buttons{
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
}

#logInButton{
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  background: #e9f5ff;
  border-radius: 3px;
  padding: 8px 16px;
}

@media (max-width: 800px) {
  .companyLogo{
   margin-left: 10%;
  }
} 

@media (max-width: 700px) {
  .links{
    display: none;
  }
  .companyLogo{
    margin-left: 50%;
    transform: translate(-50%);
  }
} 

hr {
  background-color: #cacaca;
  border: 0 none;
  color: #eee;
  height: 1px;
}


/* CSS for Home */

.Home{
  position: relative;
    overflow-x: hidden !important;
}

.openingSection.one {
  background-image: url(./images/blueglasseshat.jpg);
  min-height: 390px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
  position: relative;
}

.openingSection {
  min-height: 390px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
  position: relative;
  font-weight: 700;
}


.openingText {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 9999;
}

.arrowLeft{
  all: initial;
  position: absolute;
  z-index: 9999;
  color: white;
  left: 0;
  top: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.arrowRight{
  all: initial;
  position: absolute;
  z-index: 9999;
  color: white;
  right: 0;
  top: 50%;
  margin: 0 auto;
  cursor: pointer;
}

 .openingSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0));
  z-index: 1;
  mix-blend-mode: multiply;
}
 
@media (max-width: 720px) {
  .openingText{
    left: 40%;
    transform: translate(-50%, -50%);
  }
} 

@media (max-width: 345px) {
  .openingText{
    font-size: x-small;
  }
}

.centralContact{
  background: #0890f1;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: x-small;
  font-weight: bold;
}

.secondRow{
  min-height: 390px;
  display: flex;
  align-items: center; 
}

#mainHeading{
  font-size: xx-large;
  font-weight: 200;
  margin-bottom: 0;
}

.secondText {
  flex: 1;
  margin-left: 16%;
  max-width: 500px;
  margin-right: 50px;
}

.secondText > p, ul {
  font-size: x-small;
}

  .firstList{
    font-weight: 700;
    padding: 0;
    margin: 15px;
  }

.screenImage {
  max-width: 94%; 
  max-height: 280px;
  margin-right: 16%;
  border-radius: 3px;
}

#learnMore{
    background: #0890f1;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 8%;
    text-decoration: none;
    font-size: x-small;
    font-weight: bold;
}

#loginCenter{
  background: white;
  border-radius: 4px;
  color: blue;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 8%;
  text-decoration: none;
  font-size: x-small;
  font-weight: bold;
}

.bottomContact{
  display: inline-block;
  position: relative;
  left: 49%;
  transform: translate(-55%);
  margin-top: 20px;
  background: #0890f1;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: x-small;
  font-weight: bold;
}

@media (max-width: 1087px) {
  .secondRow {
    display: grid;
    grid-template-columns: auto; 
  }
  
  .screenImage {
    order: -1; 
    margin-left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
  }
  .secondText{
    margin-left: 50%;
    transform: translate(-50%);
    margin-right: 0;
    width: 80%;
  }
  #learnMore{
    margin-left: 50%;
    transform: translate(-50%);
    background: #0890f1;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
    width: 90%;
    text-decoration: none;
    font-size: x-small;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .centralContact{
    width: 90%;
  }
   .bottomContact{
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  } 
  #loginCenter{
    width: 220px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.thirdRow{
  background-image: url(./images/blueglasses.jpg);
  min-height: 390px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

.thirdText{
  margin-left: 14%;
  max-width: 400px;
  background-color: rgba(29, 29, 29, 0.5);
  position: absolute;
  margin-top: 30px;
  padding: 20px;
  border-radius: 4px;
}

.thirdText > p {
  font-size: small;
}

@media (max-width: 500px) {
  .thirdText {
margin-left: 40%;
transform: translate(-50%);
min-width: 270px;
  }
  .thirdRow{
    background-position: center 25%;
  }
}

@media (max-width: 400px) {
  .thirdText {
    margin-left: 50%;
    transform: translate(-50%);
    min-width: 270px;
  }
}

.fourthRow{
  min-height: 390px;
}

.fourthText{
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.fourthText >h1 {
  font-size: medium;
  margin-bottom: 0;
  white-space: nowrap;
}

.fourthText >h3 {
  font-weight: 900;
  font-size: small;
}

.fourthTextBulk {
  font-weight: bold;
  font-size: x-small;
  margin-left: 14%;
  margin-right: 16%;
  column-count: 3;
  column-gap: 20px;
}

@media (max-width: 780px) {
  .fourthTextBulk {
  column-count: 1;
  }
}

@media (max-width: 480px) {
  .fourthTextBulk {
    margin-left: 50%;
    transform: translate(-50%);
    min-width: 350px;
  }
}

 @media (max-width: 400px) {
  .fourthText >h1 {
    white-space: normal;
    min-width: 300px;
  }
  .fourthText >h3 {
    min-width: 300px;
  }
  .fourthTextBulk {
    min-width: 300px;
  }
} 

@media (max-width: 330px) {
  .fourthText >h1 {
    width: 150px;
    margin-left: 10%;
  }
  .fourthText >h3 {
    width: 150px;
    margin-left: 10%;
  }
  .fourthTextBulk {
    max-width: 150px;
    margin-left: 53%;
    min-height: 500px;
  }
}

/* CSS for footer */


.Footer{
  color: grey;
}

.Footer > p {
  float: right;
  margin-right: 100px;
  font-size: small;
}

@media (max-width: 500px) {
  .Footer > p {
   float: none;
   margin-right: 0;
   display: flex;
   justify-content: center;
  }
}

/* CSS for AboutUs Page */

.AboutUs{
    overflow-x: hidden !important;
}

.aboutText{
  margin-left: 50%;
  transform: translate(-50%);
  min-width: 75%;
  line-height: 2;
}
.aboutText >h1{
  margin-top: 50px;
  font-size: larger;
  margin-bottom: 25px;
}

.aboutText >h3{
  font-size: medium;
}

.aboutText >p{
  font-size: x-small;
}

.screenImageAbout{
  max-width: 85%; 
  max-height: 430px;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.secondList{
  font-weight: 700;
  padding: 0;
  margin: 15px;
}

@media (max-width: 930px) {
  .aboutText{
    min-width: 85%;
  }
}