@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap');

body{
  width: 106%;
}

/* CSS for Navbar */

.Navbar{
  height: 54px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.companyLogo{
  position: fixed;
  height: 22px;
  margin-left: 16%;
}

.links{
  position: fixed;
  right: 10%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: x-small;
}

.buttons{
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
}

#logInButton{
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  background: #e9f5ff;
  border-radius: 4px;
  padding: 8px 16px;
}

@media (max-width: 800px) {
  .companyLogo{
   margin-left: 10%;
  }
} 

@media (max-width: 700px) {
  .links{
    display: none;
  }
  .companyLogo{
    margin-left: 50%;
    transform: translate(-50%);
  }
} 


/* CSS for Home */

.Home{
  position: relative;
}

.openingSection {
  background-image: url(./images/blueglasseshat.jpg);
  height: 390px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
  position: relative;
}


.openingText {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  color: white;
  z-index: 9999;
}


 .openingSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0));
  z-index: 1;
  mix-blend-mode: multiply;
}
 
@media (max-width: 675px) {
  .openingText{
    left: 40%;
    transform: translate(-50%, -50%);
  }
} 

@media (max-width: 345px) {
  .openingText{
    font-size: x-small;
  }
}

.centralContact{
  background: #0890f1;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: x-small;
  font-weight: bold;
}

.secondRow{
  height: 390px;
}

.thirdRow{
  height: 390px;
  background-color: rgb(182, 182, 182);
}

.fourthRow{
  height: 390px;
}

#mainHeading{
  font-size: xx-large;
  font-weight: 200;
  margin-bottom: 0;
}

/* CSS for Footer */

.Footer{
  color: grey;
}

.Footer > p {
float: right;
margin-right: 100px;
font-size: small;
}

@media (max-width: 500px) {
  .Footer > p {
    float: none;
    margin-right: 0;
   display: flex;
   justify-content: center;
  }
}